# HateEval Dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train_dev_en_merged.tsv', sep='\t')
data.head()

    id                                               text  HS  TR  AG
0  201  Hurray, saving us $$$ in so many ways @potus @...   1   0   0
1  202  Why would young fighting age men be the vast m...   1   0   0
2  203  @KamalaHarris Illegals Dump their Kids at the ...   1   0   0
3  204  NY Times: 'Nearly All White' States Pose 'an A...   0   0   0
4  205  Orban in Brussels: European leaders are ignori...   0   0   0

In [3]:
data = data.drop(['TR','AG', 'id'], axis=1)

In [4]:
data.head()

                                                text  HS
0  Hurray, saving us $$$ in so many ways @potus @...   1
1  Why would young fighting age men be the vast m...   1
2  @KamalaHarris Illegals Dump their Kids at the ...   1
3  NY Times: 'Nearly All White' States Pose 'an A...   0
4  Orban in Brussels: European leaders are ignori...   0

In [5]:
import re

def removeURLs(tweet):
    return re.sub(r'https?://[^ ]+', '', tweet)

def removeMentions(tweet):
    return re.sub(r'@[^ ]+', '', tweet)

def removeHashtags(tweet):
    return re.sub(r'#', '', tweet)

def wordNormalization(tweet):
    return re.sub(r'([A-Za-z])\1{2,}', r'\1', tweet)

def removeNonAlphabetic(tweet):
    tweet = re.sub(r'&[^ ]+', '', tweet)
    return re.sub(r'[^A-Za-z ]', '', tweet)

def lowerCasing(tweet):
    return tweet.lower()

def removeExtraSpaces(tweet):
    tweet = re.sub(' +', ' ', tweet)
    tweet = tweet.strip()
    return tweet

def removeRetweetChar(tweet): # Remove rt
    return re.sub(r'\brt\b', '', tweet)

In [6]:
def tweetPreprocessingPipeline(tweet):
    tweet = removeURLs(tweet)
    tweet = removeMentions(tweet)
    tweet = removeHashtags(tweet)
    tweet = wordNormalization(tweet)
    tweet = removeNonAlphabetic(tweet)
    tweet = lowerCasing(tweet)
    tweet = removeRetweetChar(tweet)
    tweet = removeExtraSpaces(tweet)
    return tweet

In [7]:
data['text'] = data['text'].apply(tweetPreprocessingPipeline)
data.head()

                                                text  HS
0  hurray saving us in so many ways lockthemup bu...   1
1  why would young fighting age men be the vast m...   1
2  illegals dump their kids at the border like ro...   1
3  ny times nearly all white states pose an array...   0
4  orban in brussels european leaders are ignorin...   0

In [8]:
data.to_csv('preprocessed_data.csv', index=False)