# Data Collection

In [1]:
import pandas as pd

In [2]:
mhs = pd.read_csv('./MHS/preprocessed_data.csv')
hateeval = pd.read_csv('./HateEval/preprocessed_data.csv')

In [3]:
mhs.describe()

                  HS
count  135556.000000
mean        0.361828
std         0.480531
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [4]:
hateeval.describe()

                 HS
count  10000.000000
mean       0.421000
std        0.493744
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [5]:
collection = [mhs, hateeval]
result = pd.concat(collection)
result.describe()

                  HS
count  145556.000000
mean        0.365894
std         0.481681
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [6]:
result.to_csv('preprocessed_data.csv', index=False)